/**
 * Layout helpers.
 */

 $twitterColor: rgb(226, 33, 162);
 $accentColor: rgb(226, 33, 162);
 $specialFont: 'Kaushan Script', cursive;


// Stretch an element vertically based on available space
.reveal .stretch,
.reveal .r-stretch {
	max-width: none;
	max-height: none;
}

.reveal pre.stretch code,
.reveal pre.r-stretch code {
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

// Text that auto-fits its container
.reveal .r-fit-text {
	display: inline-block; // https://github.com/rikschennink/fitty#performance
	white-space: nowrap;
}

// Stack multiple elements on top of each other
.reveal .r-stack {
	display: grid;
}

.reveal .r-stack > * {
	grid-area: 1/1;
	margin: auto;
}

// Horizontal and vertical stacks
.reveal .r-vstack,
.reveal .r-hstack {
	display: flex;

	img, video {
		min-width: 0;
		min-height: 0;
		object-fit: contain;
	}
}

.reveal .r-vstack {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reveal .r-hstack {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

// Naming based on tailwindcss
.reveal .items-stretch { align-items: stretch; }
.reveal .items-start { align-items: flex-start; }
.reveal .items-center { align-items: center; }
.reveal .items-end { align-items: flex-end; }

.reveal .justify-between { justify-content: space-between; }
.reveal .justify-around { justify-content: space-around; }
.reveal .justify-start { justify-content: flex-start; }
.reveal .justify-center { justify-content: center; }
.reveal .justify-end { justify-content: flex-end; }

.twitter-overlay {
	position: absolute;
	top: 20px;
	right: 0;
	display: block;
	width: 50%;
	span {
		font-family: 'Source Sans Pro', Helvetica, sans-serif;;
		color: $twitterColor;
		margin-right: 2.5%;
		float: right;
		font-size: 1.25em;
		text-shadow: 1px 1px 3px rgb(5, 5, 5);
	}
}
.speaker-title {
	display: flex;
	.flex-1 {
		flex: 1;
		.circle {
			border-radius: 50%;
			width: 60%;
		}
	}
	.flex-2 {
		flex: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.small {
	font-size: 80% !important;
}

.smaller {
	font-size: 60% !important;
}

.large {
  font-size: 150% !important;
}

.scaled {
	width: 50%;
}

.really-scaled {
	width: 30%;
}

.kc-overlay {
  position: absolute;
  top: 25%;
  left: 35%;
}

#me {
  .warning {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    img {
      height: 1.5em;
      margin: 0 .5em;
    }
    p {
      line-height: 1.5em;
    }
  }
  h1, h2, h3, h4 {
	  text-transform: none;
  }
}

.reveal pre code {
    font-size: 125%;
    border: solid 1px $accentColor;
    padding: 1em;
    border-radius: .25em;
}

#title {
	h1 {
		//text-align: left;
	}
}

.reveal {
	blockquote {
		padding: 1em;
		border-radius: 5px;
		background: rgba(5, 5, 5, 0.358);
		box-shadow: 0px 0px 2px rgb(0, 0, 0);
	}
}

.side-by-side {
	display: flex;
	.left {
		display: flex;
		float: left;
		align-items: center;
  		justify-content: center;
		flex: 1;
		flex-direction: column;
	}
	.right {
		flex: 1;
		display: block;
		float: right;
	}
}

.reveal h2 {
	margin-bottom: 1em;
}

.reveal h3 {
	color: #91ebf4;
}

  span.strike {
	--thickness: .15em;
	--strike: 0;
	
	background: linear-gradient(90deg, transparent, currentColor 0) no-repeat 
				right center / calc(var(--strike) * 100%) var(--thickness);
	text-shadow: none;
	transition: background-size .4s ease;
  }
  
//   span.strike:hover {
// 	--strike: 1; /* "1" means "true" (show the strike line) */
// 	background-position-x: left;
//   }

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.card {
		flex: 1 0 20%; 
		margin: .25em;
		padding: .25em;
		background: #76A4C6;
		box-shadow: 3px 3px 3px #365280;
		p {
			text-shadow: none;
			font-size: 35%;
		}
		ul, li {
			font-size: 60%;
			text-shadow: none;
		}
	}
}

.text-left {
	text-align: left;
}

.special-font {
	font-family: $specialFont;
	margin-top: -.5em;
	font-size: 130%;
}

.img-overlap {
	display: inline;
	float: left;
	width: 50%;
	left: 2em;
	position: relative;
}

.img-overlap2 {
	display: inline;
	position: relative;
	float: left;
	width: 45%;
	left: -1em;
	top: 2em;
}

